#result {
    display: grid;
    grid-template-columns: 45% 40%;
    margin-top: 10vh;
    margin-inline: 15%;
}

img {
    max-height: 80vh;
}

.data {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

